
@model IEnumerable<WebBookReViewDSM.Models.Club_lecViewModel>

<h2>Circulo de lectura</h2>

@foreach (var item in Model)
{
    <h2>Hola</h2>
    int count = 0;
    if (count < 2)
    {
<div class="row" style="display: flex; flex-direction: row">
    <div class="row" style="display: flex; flex-direction: row">
        <img height="300" width="200" src="~/imgs/prueba.jpg" />
        <div class="col-lg-12" style="padding:2em">
            <p><b style="font-size:1em">Nombre:</b>  @Html.DisplayFor(modelItem => item.nombrelibro)</p>
            <p><b style="font-size:1em">Mensualidad:</b>  @Html.DisplayFor(modelItem => item.mensualidad)</p>
            <p><b style="font-size:1em">Pagina actual:</b>  @Html.DisplayFor(modelItem => item.paginaActual)</p>
            <p>Nombre: name</p>
        </div>
    </div>
    <div class="col-lg-12">
        <h1>Sipnosis</h1>
        <p>@Html.DisplayFor(modelItem => item.lecturatotal.Genero)</p>
    </div>
</div>
        count++;
    }


}