@model IEnumerable<WebBookReViewDSM.Models.Club_lecViewModel>
@using System;
@using BookReViewGenNHibernate.EN.BookReview;


@{
    Html.RenderAction("Index_user", "Usuario");
}
<h1>Libros</h1>

<div>
</div>