@model IEnumerable<WebBookReViewDSM.Models.ListaViewModel>

@{
    ViewBag.Title = "Lista_user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int count = 0;
    string path = HttpContext.Current.Request.Url.AbsolutePath;
    string[] cosas = path.Split('/');
    string id = Request.QueryString["id"];
}

@foreach (var item in Model)
{
    if (item.duenyoLista.ToString() == id)
    {
        <h2>Lista de @item.nombreduenyo</h2>
        <h3>Lista de favoritos</h3>
        <p>Esta lista está vacía.</p>
        <h3>Lista de pendientes</h3>
        <p>Esta lista está vacía.</p>
        <h3>Lista de acabados</h3>
        <p>Esta lista está vacía.</p>
    }
}

</table>
