@{
    ViewBag.Title = "About";
}

<!--
    <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->
<h2>Proyecto BookReView DISM 2020</h2>
<h3>Integrantes del Grupo</h3>
<p>Alejandro Merino Alcaraz</p>
<p>Francisco Noguera Vidal</p>
<p>Pedro Vazquez Tévar</p>
<p>Yeray Mora Sobrino</p>
<h3>Finalidad</h3>
<p>El objetivo general es desarrollar una aplicación basada en compartir reseñas y puntuaciones de libros
    similar a aquellas de películas como Filmaffinity. Esta permitirá al usuario intercambiar opiniones, 
    puntuaciones y recibir recomendaciones de los libros que haya leído. </p>
