
@model IEnumerable<WebBookReViewDSM.Models.LibroViewModel>


<div class="container-fluid">
    <h1 style="font-size:4em;"> Libros </h1>
    <div class="row row-propia">
        @{
            int count = 0;
        }
        @foreach (var item in Model)
        {
            if (count < 5)
            {
                <div class="col-propia">
                    <div>
                        <a href="~/libro/libro_user/@Html.DisplayFor(modelItem => item.libroID)"> <img height="300" width="200" src="~/imgs/@Html.DisplayFor(modelItem => item.portada)" /> </a>
                    </div>
                    <div class="row" style="display: flex; flex-direction: row; margin:auto; width: 100%; background-color:white">
                        <p style="font-size:1.5em; background-color:white;padding:4px;"><b> @Html.DisplayFor(modelItem => item.nombre)</b></p>
                        <button class="btn-default" type="button" name="Favoritos"></button>
                    </div>
                </div>
                count++;
            }


        }




    </div>

</div>



@{
    Html.RenderAction("Shared_Clubs", "Home");
}