
@model IEnumerable<WebBookReViewDSM.Models.LibroViewModel>


<div class="container-fluid">
    <h1 style="font-size:4em"> Libros </h1>
    <div class="row" style="background-color:lightgray;  border-radius:2em;display:flex; flex-direction:row; padding:3em">
        @foreach (var item in Model)
        {
            int count = 0;
            if (count < 4)
            {
                <div class="col-lg-12">
                    <div>
                        <a href="~/libro/Details/@Html.DisplayFor(modelItem => item.libroID)"> <img class="fotoindex" height="300" width="200" src="~/imgs/@Html.DisplayFor(modelItem => item.portada)" /> </a>
                    </div>
                    <div class="row" style="display: flex; flex-direction: row; margin:auto">
                        <p style="font-size:1.5em"> @Html.DisplayFor(modelItem => item.nombre)</p>
                        <button class="btn-default" type="button" name="Favoritos"></button>
                    </div>
                </div>
                count++;
            }


        }

    </div>
    
</div>


@{
    Html.RenderAction("Shared_Clubs", "Home");
}