
@model IEnumerable<WebBookReViewDSM.Models.Club_lecViewModel>

@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="font-size:4em">Circulo de lectura recomendado</h1>
<div style="display: flex; flex-direction: row">
    @{
        int count = 0;
    }
    @foreach (var item in Model)
    {
        if (count < 1)
        {
            <div class="row" style="display: flex; flex-direction: row">
                <div class="row" style="display: flex; flex-direction: row">
                    <img height="300" width="200" src="~/imgs/@Html.DisplayFor(modelItem => item.lecturatotal.Portada)" />
                    <div class="col-lg-12" style="width: 10em; font-size: 1.2em;">
                        <p><b style="font-size:1em">Nombre:</b>  @Html.DisplayFor(modelItem => item.nombrelibro)</p>
                        <p><b style="font-size:1em">Genero:</b>  @Html.DisplayFor(modelItem => item.lecturatotal.Genero)</p>
                        <p><b style="font-size:1em">Mensualidad:</b>  @Html.DisplayFor(modelItem => item.mensualidad)</p>
                        <p><b style="font-size:1em">Pagina actual:</b>  @Html.DisplayFor(modelItem => item.paginaActual)</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h1>Sinopsis</h1>
                    <p style="font-size:1.2em;margin-right:2em">
                        De los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoriaDe los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
                        todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoria
                    </p>
                </div>
            </div>
            count++;
        }
    }
    <div>
        <blockquote class="pull-right" style="width:200px; font-size:1.5em">
            “De los diversos instrumentos inventados por el hombre, el más asombroso es el libro;
            todos los demás son extensiones de su cuerpo… Sólo el libro es una extensión de la imaginación y la memoria”.
            <h2><b>Jorge Luis Borges.</b></h2>
        </blockquote>
    </div>

</div>  